 * {
 	padding: 0;
 	margin: 0;
 	font-family: Arial,Helvetica,sans-serif;
 }

.container {
	margin: 0 auto;
	background-color: #fff;
}

.header {
	height: 40px;
	background: #78b43d;
	margin-bottom: 5px;
}

.logo {
	float: left;
	position: relative;
	height: 40px;
	overflow: hidden;
	width: 90px;
	margin-left: 200px;
}

.menu-top {
	width: 160px;
	height: 40px;
	float: left;
	border-right: solid 1px #90c95a;
	border-left: solid 1px #90c95a;
	font-size: 12px;
}

.menu-top-li a {
	padding-top: 10px;
	padding-left: 20px;
	color: white;
}

#img-menu-top {
	float: left;
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
}


.header-right {
	font-size: 12px;
	width: 750px;
	height: 40px;	
	float: left;
}


.header-right ul {
	list-style-type: none;
	text-align: center;
}

.header-right li {
	display: inline-block;
	margin-right: 15px;
	width: auto;
	line-height: 40px;
	margin-left: -5px;
	position: relative;
}

.header-right a {
	display: block;
	color: #fff;
	text-decoration-line: none;
}

.header-right a:hover {
	background-color: #fff;
	text-decoration-line: none;
}

.search {
	margin-top: 5px;
	text-align: center;
	padding-top: 5px;
	padding-left: 2px;
	width: 32px;
	height: 32px;
	float: left;
	border-radius: 25px;
	border: solid 1px #ccc;
}
.main-body {
	width: 1100px;
	margin-left: 200px;
	position: relative;
	box-sizing: border-box;
}

.main-top {
	margin-top: 30px;
	width: 700px;
}
.main-top-left {
	width: 346px;
	float: right;
	margin-left: 7px;
}

.main-top-right {
	width: 346px;
	float: right;
}

.title {
	width: 100%;
	height: 34px;
	padding: 0 10px;
}

.content {
	width: 100%;
	padding: 10px 10px;
}

.content img {
	float: left;
	margin-right: 10px;
}

.content p {
	margin-right: 10px;
	font-size: 12px;
	text-align: justify;
}

.about-1 {
	margin-top: 5px;
	margin-left: 10px;	
	width: 100%;
	height: 55px;
	background: #eaf8d2;
	font-size: 12px;
}
.about-1 ul {
	padding-left: 10px;
	list-style-type: none;
}
.about-1 li {
	background: url(img/li.png) 0px -545px no-repeat;
	padding-top: 3px;
	line-height: 15px;
}

.about-1 a {
	margin-left: 10px;
	color: black;
	padding-left: 7px;
}

.about-2 {
	margin-left: 10px;	
	width: 100%;
	height: 37px;
	background: #d5ecab;
	font-size: 12px;
}

.about-2 ul {
	padding-left: 20px;
	list-style-type: none;
	padding-left: 7px;
}
.about-2 li {
	background: url(img/video.png) 0 8px no-repeat;
	padding-top: 3px;
	line-height: 15px;
}
.about-2 a {
	margin-left: 10px;
	color: black;
	padding-left: 10px;
}

.about-mid-1{
	margin-top: 5px;
	margin-left: 10px;	
	width: 100%;
	height: 55px;
	font-size: 12px;
}
.about-mid-1 ul {
	padding-left: 10px;
	list-style-type: none;
}
.about-mid-1 li {
	background: url(img/li.png) 0px -545px no-repeat;
	padding-top: 3px;
	line-height: 15px;
}

.about-mid-1 a {
	margin-left: 10px;
	color: black;
	padding-left: 7px;
}



.ad-1{
	width: 700px;
	height: 120px;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}

.main-mid {
	margin-top: 50px;
	width: 700px;
	float: left;
}

.ad-right {
	position: relative;
}

.ad-right img {
	position: absolute;
	left: 720px;
}

.main-mid-2 {
	margin-top: 50px;
	width: 700px;
	float: left;
}

.mid-2-content-left {
	padding:10px;
	width: 336px;
	height: 280px;
	float: left;
	border:#d8d8d8 solid 1px;
}

.mid-2-content-left-top {
	width: 100%;
	height: 50%;
	border-bottom: #d8d8d8 solid 1px;
}
.mid-2-content-left-top-img {
	float: left;
}
.mid-2-content-left-top-title {
	width: 60%;
	float: right;
	font-size: 14px;
}
.mid-2-content-left-top-content {
	width: 60%;
	float: right;
	font-size: 13px;	
	line-height: 1.4;
}

.mid-2-content-left-top-about {
	width: 100%;
	float: left;

}

.mid-2-content-left-top-about-1 {
	width: 30%;
	float: left;
	
}

.mid-2-content-left-top-about-1 p {
	font-size: 13px;
	text-decoration: none;
	text-align: center;
}

.mid-2-content-left-top-about-2 {
	width: 35%;
	float: right;
	padding-right: 10px;
	
}

.mid-2-content-left-top-about-2 p {
	background: #ea4335;
	color: white;
	text-align: center;
	font-size: 13px;
	
}

.mid-2-content-right {
	width: 336px;
	height: 280px;
	float: right;
	margin-right: 12px;
}

.about-1 ul li .video {
	background: url(img/video.png) 0 8px no-repeat;
	padding-top: 3px;
	line-height: 15px;
}
.ad-right-2 {
	position: relative
}

.ad-right-2-new {
	position: absolute;
	width: 310px;
	height: 370px;
	top: 630px;
	left: 720px;
	background: #78b43d;
	text-align: center;
	color: white;
	font-size: 12px;
	font-weight: bold;
}

.ad-right-2-new-content {
	width: 97%;
	height: 93%;
	margin: 5px auto;
	background: url(img/bg.png) repeat;
}

.ad-right-2-new-content-1 {
	width: 100%;
	height: 85px;
	border:#d8d8d8 solid 1px;
}


.ad-right-2-new-content-1 img {
	float: left;
	margin: 4px;
	width: 100px;
}

.ad-right-2-new-content-1 p {
	color: black;
	text-align: left;
	font-size: 13px;
 	padding-top: 20px;
}

.main-bottom {
	width: 700px;
	float: left;
}

.main-bottom-left {
	width: 346px;
	float: left;
}

.about-bottom-1{
	margin-top: 25px;
	margin-left: 10px;	
	width: 100%;
	height: 55px;
	font-size: 12px;
}
.about-bottom-1 ul {
	padding-left: 10px;
	list-style-type: none;
}
.about-bottom-1 li {
	background: url(img/li.png) 0px -545px no-repeat;
	padding-top: 3px;
	line-height: 15px;
}

.about-bottom-1 a {
	margin-left: 10px;
	color: black;
	padding-left: 7px;
}

.main-bottom-right {
	width: 346px;
	float: left;
}

.ad-right-3 {
	position: relative
}

.ad-right-3-new {
	position: absolute;
	width: 310px;
	height: 270px;
	top: 1010px;
	left: 720px;
	background: #78b43d;
	text-align: center;
	color: white;
	font-size: 12px;
	font-weight: bold;
}
.ad-right-3-new-content {
	width: 97%;
	height: 90%;
	margin: 5px auto;
	background: url(img/bg.png) repeat;
}

.ad-right-3-new-content-top {
	width: 100%;
	height: 40%;
}

.ad-right-3-new-content-top img {
	margin: 5px;
	float: left;
	width: 90px;
}

.ad-right-3-new-content-top p {
	color: black;
	padding-top: 3px;
	text-align: left;
}

.ad-right-3-new-content-bottom {
	width: 100%;
	height: 60%;
}
.ad-right-3-new-content-bottom ul {
	list-style-type: none;
	padding-left: 5px;
}
.ad-right-3-new-content-bottom li {
	background: url(img/li.png) 0px -545px no-repeat;
	padding-top: 3px;
	padding-left: 15px;
	line-height: 15px;
	text-align: left;
}

.ad-right-3-new-content-bottom a {
	color: black;
}
.video-bot {
	width: 700px;
	float: left;
	margin-top: 30px;
}
.video-bot-top {
	width: 100%;
	height: 30px;
	background: #78b43d;
	color: white;
	text-align: center;
}
.video-bot-top p {
	position: relative;
	top: -20px;
	left: 15px;
	color: white;
}
.icon {
	width: 25px;
	height: 25px;
	background: url(img/video2.png) no-repeat;
	position: relative;
	top:8px;
	left: 250px;
}
.video-bot-bottom {
	width: 100%;
	margin-top: 20px;
}
.video-bot-bottom-left{
	width: 380px;
	height: 300px;
	float: left;
}
.video-bot-bottom-right{
	width: 320px;
	height: 300px;
	float: right;
}
.video-bot-bottom-right-new {
	width: 100%;
	height: 30%;
	margin: 0px 5px;

}

.video-bot-bottom-right-new img{
	margin-left: 10px;
	margin-right: 10px;
	float: left;
}

.video-bot-bottom-right-new p{
	font-size: 13px;
