/*Style cơ bản cho trang*/
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

}

body {
	font-family: "Times New Roman", Georgia, Serif;
	color: #333;
	line-height: 1.254;
	margin: 0;
	padding: 0;
}

a {
	text-decoration-line: none;
	color: #3b8bba;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

a:hover, a:visited {
	color: #265778;

}

/*Chia cột cho trang web*/
#container {
	padding-left: 150px;
	position: relative;
	left: 0;
	width: 100%;
}

#menu {
	position: fixed;
	height: 100%;
	left: 0;
	background-color: #191818;
	width: 150px;
}

/*Menu*/

#menu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#menu ul li {
	line-height: 2.9em;
	height: 2.9em;
	transition: all 1s;
	-moz-transition: all 1s;
	-webkit-transition: all 1s;
}

#menu ul li a {
	display: block;
	color: #fff;
	padding: 0 1em;
	border-bottom: 1px solid #333;
	position: relative;
}

#menu ul li:hover {
	background-color: #454545;

}

#menu .sub-menu {
	display: none;
	position: absolute;
	top: 2.9em;
	left: 150px;
	background-color: #191818;
}

#menu ul li:hover .sub-menu {
	display: block;
}

/*Content*/
#content {
	padding-top: 1em;
	padding-right: 8em;
	padding-left: 8em;
}

#header, .call-to-action {
	text-align: center;
}

	/*Header*/

	#header {

	}
	#header #logo {

	}
	#header #slogan {
		color: #8997a0;
		font-size: 0.8em;
	}

	/*call-to-action*/
	.call-to-action {
		padding: 1.5em 20%;
		background-color: #efefef;
		border: 1px solid #e8e8e8;
	}

	/*row*/
	.row {
		overflow: hidden;
		margin: 1.5em auto;
	}
	.col {
		float: left;
		width: 30%;
		margin-right: 2em;
	}

	.col:last-child {
		float: right;
		margin-right: 0;
	}

	.col img {
		float: left;
	}

/*footer*/
#footer {
	font-size: 85%;
	border-top: 1px solid #e6e6e6;
	color: #838383;
	padding: 1em 3em;
}































