
	 *  {
			margin: 0;
			padding: 0;
		}

		body {
			font-family: "Times New Roman", Georgia, Serif;
		}

		#menu ul {
			background: #8AD385;
  			width: 200px;
  			padding: 0;
  			list-style-type: none;
  			text-align: left;
		}	

		#menu li {
			height: 40px;
			line-height: 40px;
			border-bottom: 1px solid #e8e8e8;
			padding: 0 1em;
		}

		#menu a {
			text-decoration-line: none;
			color: #333;
			display: block;
		}

		#menu li:hover {
			background-color: red;
		}

		#menu ul li {
			position: relative;
		}
		#menu .sub-menu {
		 position: absolute;
		 left: 200px;
		 top: 0;
		 display: none;
		 background-color:  #3333ff

		}

		#menu li:hover .sub-menu {
		 display: block;
		}