		* 	{
			margin: 0;
			padding: 0;
		}

		body {
			font-family: "Times New Roman", Georgia, Serif;
		}

		#menu ul {
			background: #1F568B;
			list-style-type: none;
			text-align: center;
		}

		#menu li {
			display: inline-block;
			width: 120px;
			line-height: 40px;
			margin-left: -5px;
			position: relative;
		}

		#menu a {
			display: block;
			color: #fff;
			text-decoration-line: none;
		}

		#menu a:hover {
			background-color: #fff;
			color: red;
		}

		.sub-menu {
		  display: none;
		  position: absolute;
		}
		#menu li {
		  position: relative;
		}
		#menu li:hover .sub-menu {
		  display: block;
		}
		.sub-menu li {
		  margin-left: 0 !important;
		}

