* {
	padding: 0;
	margin: 0;
}

.container {

}

.header-top {
	width: 100%;
	height: 50px;
	background: #f8f8f8;
}

.header-top-menu {
	margin-left: 200px;
	padding: 12px;
	float: left;
}
.header-top-menu ul{
	list-style-type: none;
}
.header-top-menu li {
	width: 90px;
	display: inline-block;
}
.header-top-menu a {
	text-decoration-line: none;
	color: #666666;
	font-size: 14px;
}

.header-top-menu a:hover {
	color: red;
}
	
.header-top-icon {
	margin-right: 300px;
	float: right;
}
.header-top-icon ul {
	list-style-type: none;
}
.header-top-icon li {
	margin: 12px;
	display: inline-block;
}
.header-top-icon a {
	color: #666666;
}

.header-mid {
	width: 100%;
}

.header-mid-menu {
	width: 100%;
	height: 70px;
	margin-top: 30px;
	margin-bottom: 20px;

}

.header-mid-menu .logo {
	width: 273px;
	height: 70px;
	margin-left: 200px;
	float: left;
}

.header-mid-menu .menu {
	width: 590px;
	height: 70px;
	float: right;
	margin-right : 200px;
}

.header-mid-menu .menu ul {
	list-style-type: none;
	text-align: center;
}
.header-mid-menu .menu li {
	padding-top: 20px;
	width: 120px;
	display: inline-block;
	position: relative;
	font-size: 16px;
}

.header-mid-menu .menu a {
	text-decoration-line: none;
	color: #666666;
	display: block;
}

.header-mid-menu .menu a:hover {
	color: red;
}

.sub-menu {
	display: none;
	position: absolute;
	background-color: #fff;
	box-shadow: 1px 1px;
    -moz-box-shadow: 1px 1px;
    -webkit-box-shadow: 1px 1px;
    -o-box-shadow: 1px 1px;
    -ms-box-shadow: 1px 1px;
}

.header-mid-menu .menu li:hover .sub-menu {
	display: block;
}
.sub-menu li {
	margin-left: 0 !important;
}

.header-bottom {
	width: 100%;

}
.main-body {
	width: 65%;
	margin: 50px auto;
}
.content {
	width: 70%;
	float: left;
	padding: 5px;
	box-sizing: border-box;
}

/*Post*/
.post {
	width: 100%;
	margin-bottom: 50px;
	border: 1px solid #ededed;

}
.post-title {
	width: 100%;
	height: 30px;
	text-align: center;
	font-size: 20px;
	
}
.post-title h3 {
	color: #1b1b1b;
}
.post-icon {
	width: 100%;
	height: 30px;
}
.post-icon ul {
	list-style-type: none;
	text-align: center;
}
.post-icon li {
	display: inline-block;
}
.post-icon a {
	color: #fd6f79;
}
.post-content {
	text-align: center;
	line-height: 1.7;
	color: #454545;
}
.post-about {
	width: 100%;
	height: 30px;
	margin-top: 10px;
}
.post-about p {
	float: left;
	margin-left: 250px;
}+-++-
.post-about ul {
	float: right;
	margin-right: 250px;
	list-style-type: none;
	text-align: center;
}
.post-about li {
	margin-left: 20px;
	display: inline-block;
}
.post-about a {
	color: #fd6f79;
}
.post-read {
	width: 100%;
	height: 30px;
	background: #f0f0f0;
	text-align: center;
}
.post-read p {
	padding-top: 5px;
}
.post-read a {
	text-decoration-line: none;
	display: block;
}
.about {
	width: 30%;
	height: 500px;
	float: right;
	padding: 5px;
	box-sizing: border-box;
}
.widget {
	width: 100%;
	background: #f8f8f8;
}

.widget-title{
	font-family: Dosis;
	font-size: 17.99px;
	line-height: 20.99px;
	text-align: center;
	padding-top:26px;
}
.sub-widget{
	width: 100%;
	height: 150px;
	margin-top: 20px;
}

.sub-widget img {
	margin-left: 20px;
	float: left;	
	margin-right: 10px;
	margin-top: 5px;
}

.sub-widget p{
	margin-left: 20px;
	margin-right: 20px;
	text-align: left;
	color: #454545;
}

.recent-post {
	width: 100%;
	background: #f8f8f8;
	margin-top: 20px;
}

.recent-post ul{
	padding: 20px;
	list-style-type: none;
}
.recent-post li{
	margin-top: 5px;
}

.recent-post a{
	text-decoration-line: none;
	color: #454545;
}

.recent-post a:hover {
	color: #fd6f79;
}

.category {
	width: 100%;
	background: #f8f8f8;
	margin-top: 20px;
}
.category ul{
	padding: 20px;
	list-style-type: none;

}
.category li{
	margin-top: 10px;
}

.category a{
	text-decoration-line: none;
	color: #454545;
}

.category a:hover {
	color: #fd6f79;
}

.unread {
	width: 100%;
	background: #f8f8f8;
	margin-top: 20px;
}
.unread p {
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 5px;
	line-height: 1.97;

}

.page {
	width: 100%;	
	background: #f8f8f8;
	margin-top: 30px;
}

.page ul {
	list-style-type: none;
	padding: 20px;
}

.page li {
	margin-top: 10px;
}
.page a {
	text-decoration-line: none;
	color: #454545;
}
.page a:hover {
	color: #fd6f79;
}
.footer-bottom {
	width: 100%;
	height: 300px;
	background: #f8f8f8;
	float: left; 
}
.footer-sub-left {
	width: 25%;
	height: 100%;
	margin-left: 200px;
	float: left;

}
.footer-sub-mid {
	width: 25%;
	height: 100%;
	float: left;

}
.footer-sub-left {
	width: 25%;
	height: 100%;
	float: left;

}
#top {
	padding-top: 20px;
	width: 100%;
	height: 50px;
	border-bottom: solid 1px;
}

#bottom ul {
	list-style-type: none;
}

#bottom li {
	line-height: 1.99;

}

#bottom a {
	text-decoration-line: none;
	color: #454545;
}

#bottom a:hover {
	color: #fd6f79;
}



